/* Header */
header h1{
    float: left;
    margin: 0;
}

header h2{
    float: right;
    margin: 0;
    margin-right: 20px;
}
header{
    height: 5vh;
    border-bottom: 2px solid black;
}
i{
        font-size: 160%;
}
h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}




/* The Modal from w3 */
.modal {
    /* Hidden by default */
   display: none;
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
   text-align: center;
   font-size: 130%;
}

.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
 
.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
.modalBtn{
    padding: 5px;
    font-size: 1.1rem;
}

#breakLength, #pomoLength{
   box-sizing: border-box;
   font-size: 150%;
}
/* Input stylings W3 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }

/* Pomodoro Timer */

#pomo-container{
    margin-top: 2vh;
    height: 300px;
    width: 400px;
    max-width: 100%;
    margin: auto;
}
#mode{
    font-size: 130%;
    letter-spacing: 2px;
    height: 6vh;
    width: 400px;
    max-width: 100%;
    line-height: 40px;
    
    
}
#mode ul{
    height: 5vh;
}

#mode li{
    float: left;
    list-style-type: none;
    margin-left: 20%;
}

.timer{
    height: 200px;
    width: 400px;
    max-width: 100%;
    margin: auto;
    font-size: 1000%;
    text-align: center;
    margin: 0;
}

.timer p{
    margin: 0;
    padding: 0;
}



.buttons{
    height: 10vh;
    width: 400px;
    max-width: 100%;
    display: flex;
}

.btn{
    position: relative;
    margin-left: 75px;
    display: inline-block;
    padding: 20px 25px;
    border-radius: 40px;
}

.active{
    border-bottom: 1px solid black;
    background-color: #888;
}
.mode:hover{
    background-color: #aaa;
    transform: scale(1.2);
}

.hide{
    display: none;
}


/* Task List */
#task-container{
    height: 35vh;
    margin: auto;
    width: 400px;
    max-width: 100%;
    margin-top: 7.5vh;
    
}
#task-container h1{
    text-align: center;
}

.task{
    height: 45px;
}

#taskField{
    width: 350px;
    border: 1px solid ;
    outline: none;
    font-size: 2.5rem;
    margin: auto;
    position: relative;
    
}
#addTask{
    border: 1px solid black;
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
    position: relative;
    padding: 5px;
}

#taskList p{
    font-size: 2rem;
    align-items: left;
    padding-top: 5px;
}


.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 2rem;
}