/* initial Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.switch-colour-red {
    background-image: linear-gradient(110deg, red, orange);
    height: 100vh;
}
.switch-colour-blue{
    background-image: linear-gradient(100deg, green , blue);
    height: 100vh;
}



/* Header */
header h1 {
    float: left;
    margin: 0;
}

header h2 {
    float: right;
    margin: 0;
    margin-right: 20px;
}

header {
    height: 5vh;
    border-bottom: 2px solid black;
}

i {
    font-size: 160%;
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header h1 a{
    text-decoration: none;
    color: black;
}



/* The Modal from w3 */
.modal {
    /* Hidden by default */
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    /* Could be more or less, depending on screen size */
    text-align: center;
    font-size: 1.2rem;
}
.modal-content h2{
    margin: 5px 0px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalBtn {
    padding: 5px;
    font-size: 1.1rem;
}

#breakLength,
#pomoLength {
    box-sizing: border-box;
    font-size: 150%;
    margin: 10px;
}

#sounds{
    color: black;
    font-size: 120%;
    width: 15rem;
    text-align: center;
}


/* Input stylings W3 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Pomodoro Timer */

#pomo-container {
    margin-top: 2vh;
    height: 300px;
    width: 400px;
    max-width: 100%;
    margin: auto;
}

#mode {
    font-size: 130%;
    letter-spacing: 2px;
    height: 6vh;
    width: 400px;
    max-width: 100%;
    line-height: 40px;


}

#mode ul {
    height: 5vh;
}

#mode li {
    float: left;
    list-style-type: none;
    margin-left: 20%;
    cursor: pointer;
}

.timer {
    height: 200px;
    width: 400px;
    max-width: 100%;
    margin: auto;
    font-size: 1000%;
    text-align: center;
    margin: 0;
}

.timer p {
    margin: 0;
    padding: 0;
}



.buttons {
    height: 10vh;
    width: 400px;
    max-width: 100%;
    display: flex;
}

.btn {
    position: relative;
    margin-left: 75px;
    display: inline-block;
    padding: 20px 25px;
    border-radius: 40px;
}

.active {
    border-bottom: 2px solid black;
}

.mode:hover {
    transform: scale(1.1);
}
#workMode:hover{
    background-color: red;
    border-radius: 7px;
}
#breakMode:hover{
    background-color: blue;
    border-radius: 7px;
}


.hide {
    display: none;
}




/* Task List */
.task-list-container{
    border-top: solid 2px black;
    margin-top:50px ;
}
.task-list-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 250%;
}
form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, 
form button{
    padding: 0.5rem;
    background: white;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
}

form button{
    padding: 0.3rem;
    background: white;
    color: red;
    transition: all 0.2s ease;
    font-size: 1.3rem;
}

form button:hover{
    background: red;
    color:white;
}

.task-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-list{
    min-width: 30%;
    list-style:none;
    max-width: 100%;
    width: 600px;
}

.task{
    margin: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.task li{
    flex: 1;
    margin-left: 10px;
}

.delete-btn , .finish-btn{
    background: red;
    color: white;
    border: none;
    padding: .7rem;
    cursor:pointer;
    font-size: 1rem;
}

.fas{
    pointer-events: none;
}

.finish-btn{
    background: green;
}

.task-item{
    padding: 0rem 0.5rem;
}

.finished{
    opacity:0.5;
    text-decoration: line-through;
}

.fall{
    transform: translateY(8rem) rotateZ(15deg);
    opacity: 0;
}

/* Style the select button */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: red;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after {
    content: "\25BC";
    color: white;
    position: absolute;
    background: red;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select:hover::after{
    background:white;
    color: red;
}


/* Media Queries */
@media(max-width: 450px){
    .task-list{
        width: 400px;
    }
    h1{
        letter-spacing: 2px;
    }
    header h1 a{
        text-decoration: none;
    }
    .timer {
        height: 150px;
        width: 300px;
        max-width: 100%;
        margin: auto;
        font-size: 700%;
        text-align: center;
        margin: 0;
        margin-left: 30px;
    }
    .select{
        display: none;
    }
    h1{
        letter-spacing: 1px;
        font-size: 30px;
    }
    header h1 a{
        text-decoration: none;
    }
    #mode{
        font-size: 110%;
    }
    .mode{
        margin-right: 35px;
    }
    #sounds{
        width: 10rem;
    }
    .task-list{
        width: 200px;
    }
    i {
        font-size: 140%;
        margin-right: 15px;
    }
    #pomo-container{
        width: 350px;
    }
    form{
        align-items: left;
        justify-content: left;
    }
    .task-list{
        width: 300px;
    }
    .task{
        align-items: left;
    }
    .task-container{
        justify-content: left;
        align-items: left;
    }
    .buttons{
        align-items: center;
        justify-content: center;
    }
    .btn{
        font-size: 100%;
        padding: 20px 25px;
        
    }
    .btn i{
        margin: 0;
    }
    
    
}
@media(max-width: 350px){
    .timer{
        width: 250px;
        font-size: 600%;
    }
    header{
        height: 9vh;
    }
    header h2{
        float: left;
    }
    form{
        min-height: 5vh;
        margin-top: 10px;
    }
    .btn{
        margin-left: 45px;
    }
    .task-input,.task-button{
        font-size: 1rem;
        
    }
    .task-button{
        padding-left: 12px;
        padding-right: 0;
    }
    
}

