/* initial Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(110deg, red, orange);
    height: 100vh;
}



/* Header */
header h1 {
    float: left;
    margin: 0;
}

header h2 {
    float: right;
    margin: 0;
    margin-right: 20px;
}

header {
    height: 5vh;
    border-bottom: 2px solid black;
}

i {
    font-size: 160%;
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}




/* The Modal from w3 */
.modal {
    /* Hidden by default */
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    text-align: center;
    font-size: 1.2rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalBtn {
    padding: 5px;
    font-size: 1.1rem;
}

#breakLength,
#pomoLength {
    box-sizing: border-box;
    font-size: 150%;
}

/* Input stylings W3 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Pomodoro Timer */

#pomo-container {
    margin-top: 2vh;
    height: 300px;
    width: 400px;
    max-width: 100%;
    margin: auto;
}

#mode {
    font-size: 130%;
    letter-spacing: 2px;
    height: 6vh;
    width: 400px;
    max-width: 100%;
    line-height: 40px;


}

#mode ul {
    height: 5vh;
}

#mode li {
    float: left;
    list-style-type: none;
    margin-left: 20%;
}

.timer {
    height: 200px;
    width: 400px;
    max-width: 100%;
    margin: auto;
    font-size: 1000%;
    text-align: center;
    margin: 0;
}

.timer p {
    margin: 0;
    padding: 0;
}



.buttons {
    height: 10vh;
    width: 400px;
    max-width: 100%;
    display: flex;
}

.btn {
    position: relative;
    margin-left: 75px;
    display: inline-block;
    padding: 20px 25px;
    border-radius: 40px;
}

.active {
    border-bottom: 1px solid black;
    background-color: #888;
}

.mode:hover {
    background-color: #aaa;
    transform: scale(1.2);
}

.hide {
    display: none;
}




/* Task List */
.task-list-container{
    border-top: solid 2px black;
    margin-top:50px ;
}
.task-list-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 250%;
}
form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, 
form button{
    padding: 0.5rem;
    background: white;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
}

form button{
    padding: 0.3rem;
    background: white;
    color: red;
    transition: all 0.2s ease;
    font-size: 1.3rem;
}

form button:hover{
    background: red;
    color:white;
}

.task-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-list{
    min-width: 30%;
    list-style:none;
    max-width: 100%;
    width: 600px;
}

.task{
    margin: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.task li{
    flex: 1;
    margin-left: 10px;
}

.delete-btn , .finish-btn{
    background: red;
    color: white;
    border: none;
    padding: .7rem;
    cursor:pointer;
    font-size: 1rem;
}

.fas{
    pointer-events: none;
}

.finish-btn{
    background: green;
}

.task-item{
    padding: 0rem 0.5rem;
}

.finished{
    opacity:0.5;
    text-decoration: line-through;
}

.fall{
    transform: translateY(8rem) rotateZ(15deg);
    opacity: 0;
}

/* Style the select button */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: red;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after {
    content: "\25BC";
    color: white;
    position: absolute;
    background: red;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select:hover::after{
    background:white;
    color: red;
}
@media (max-width: 500px) {
    .select{
        display: none;
    }
    h1{
        letter-spacing: 1px;
    }
}